.app-outer{
  display: flex;
  flex-direction: column;
}

.diagram-container{
  display: flex;
  flex-direction: row;
}

.bottom-window{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}
