@import "variables";

.control-outer{
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid $off-white;
}

.control-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  h3{
    font-size: 22px;
    -webkit-margin-before: 3px;
    -webkit-margin-after: 3px;
  }
  .buttons{
    height: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    button{
      background-color: $light-green;
      height: 100%;
      font-size: 20px;
      &:hover{
        color: $off-white;
      }
      &:active{
        background-color: $dark-green;
      }
    }
  }
}

.detail-container{
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.detail-inner{
  padding-top: 15px;
  margin: 15px 15px 0 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data-container{
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  border-radius: 2px;
  width: 35%;
  height: 100%;
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  overflow: scroll;
  h3{
    margin: 0;
  }
  .payment-errors{
    font-size: 14px;
    color: red;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.payment-submit{
  width: 100%;
  background-color: $light-green;
  color: black;
  &:hover{
    color: $off-white;
  }
  &:active{
    background-color: $dark-green;
  }
}

.description{
  width: 65%;
  padding: 0 5px 0 10px;
  display: block;
}

.rc-progress-circle{
  width: 60%;
}
