.control-outer{
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.control-inner{
  width: 35%;
}

.detail-inner{
  width: 65%
}
